@model GameShop.ApplicationLogic.Model.Game

@{
    ViewData["Title"] = "DeleteGame";
}

<h1>DeleteGame</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
   
   
</div>
