@model GameShop.Models.Users.ViewOrders
@{
    ViewData["Title"] = "ViewOrders";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body >
    <div class="row">
        @foreach (var order in Model.Orders)
        {
        <div class="product-caption">
            @foreach (var game in Model.Games)
            {
                @if ((game.Id == order.GameId) && (game.Id.ToString() != "08b78362-f32e-42a8-8838-8e4c39fd3c30"))
                {
                    <img src="data:image/png;base64, @game.ImageFile" width="350" height="500" alt="" class="center" />
                    <h4 align="center"><a style="color:white" asp-controller="User" asp-action="ViewGame" asp-route-id="@game.Id">@game.Name </a></h4>
                    <a class="btn btn-danger" asp-controller="User" asp-action="DeleteOrder" asp-route-id="@order.Id">Delete Wish</a>
                }
            }
        </div>

        }
    </div>
</body>